//====================================================================================================
// POST-PAGE
//====================================================================================================
.post-page {

	&__blog-post {
		padding: 50px 0px;
		@media (min-width:$mobile){
			padding: 70px 0px;
		}
		@media (min-width:$tablet){
			padding: 100px 0px;
		}
		@media (min-width:1440px){
			padding: 128px 0px; 
		}
	}
	&__recommendation {
	}
}
//====================================================================================================
// BLOG-POST
//====================================================================================================
.blog-post {

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
		@media (min-width:$mobile){
			row-gap: 40px;
		}
		@media (min-width:$tablet){
			row-gap: 64px;
		}		
	}

	&__header {
		max-width: 768px;
	}

	&__author {
		&:not(:last-child) {
			margin-bottom: 15px;
		}		
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 34px;
			}
		}
	}

	&__category {
		color: $black;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $hover;
		}
	}

	&__category-icon {
	}

	&__category-name {
		font-family: 'Sen';
		font-weight: 700;
		font-size: rem(20);
		@media (min-width:$mobile){
			font-size: rem(24);
		}			
	}

	&__image {
		img {
			max-width: 100%;
		}
	}

	&__body {
		max-width: 843px;
	}

	&__content {
		&:not(:last-child) {
			margin-bottom: 28px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 48px;
			} 
		}

	}
}

//====================================================================================================
// RECOMMENDATION
//====================================================================================================

.recommendation {

	&__container {
	}

	&__title {
	}

	&__body {
		padding: 32px 0px;		
		row-gap: 44px;
		border-bottom: 1px solid rgba(109, 110, 118, 0.13);
		@media (min-width:$mobile){
			padding: 44px 0px; 
		}
		@media (min-width:$tablet){
			padding: 64px 0px; 
		}
	}

	&__column {
		padding: 0px 10px;
		flex: 0 1 100%;	
		@media (min-width:$mobile){
			flex: 0 1 33.333%; 
		}		
		@media (min-width:$tablet){
			padding: 0px 16px;
		}
	}

	&__item {
	}
}

.item-recommendation {
	height: 100%;

	&__image {
		display: block;
		padding-bottom: 78.455%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}	

	&__content {
	}
	&__info {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	&__title {
		font-size: rem(24);
		line-height: 1.333;	
		letter-spacing: -1px;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		
		@media (min-width:$mobile) and (max-width:$tablet){			
			font-size: rem(20);
		}
		@media (min-width:$tablet){
			font-size: rem(24);	
			&:not(:last-child) {
				margin-bottom: 16px;
			}		
		}	
		@media (min-width:1310px){
			font-size: rem(28);	
			line-height: 1.43;			
		}
	}

	&__text {
	}
}
