//====================================================================================================
// BLOG-PAGE
//====================================================================================================
.blog-page {

	&__featured-block {		
		padding: 50px 0px;
		@media (min-width:$mobile){
			padding: 70px 0px;
		}
		@media (min-width:$tablet){
			padding: 80px 0px;
		}		
	}
	&__posts-block {
		padding: 50px 0px;
		@media (min-width:$mobile){
			padding: 64px 0px;
		}
	}
}
//====================================================================================================
// FEATURED-BLOCK
//====================================================================================================
.featured-block {
	background-color: $lavender;
	

	&__container {		
		display: flex;		
		flex-wrap: wrap;		
		@media (min-width:$tablet){			
			align-items: center;
		}		
	}

	&__body {
		flex: 1 1 100%;
		padding: 0px 0px 32px 0px;	
		@media (min-width:$tablet){
			flex: 0 1 59.8%;	
			padding: 0px 32px 0px 0px;	
		}		
	}

	&__content {
		@media (min-width:$tablet){
			max-width: 624px;
		}
	}

	&__image {
		flex: 1 1 100%;
		padding: 0px 0px 69.047% 0px;				
		@media (min-width:$tablet){
			flex: 0 1 40.2%;
			padding: 0px 0px 28.047% 0px;
		}
		img {			
			box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
		}		
	}
}
//====================================================================================================
// POSTS-BLOCK
//====================================================================================================
.posts-block {

	&__container {
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 32px;
		}		
	}

	&__content {
		border-top: 1px solid rgba(109, 110, 118, 0.32);
		padding: 30px 0px 50px 0px;
		@media (min-width:$mobile){
			padding: 50px 0px 50px 0px;
		}
		@media (min-width:$tablet){
			padding: 64px 0px 64px 0px;
		}
	}	

	&__item {
		&:not(:last-child) {
			margin-bottom: 44px;
		}		
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 64px;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 17px;
	}

	&__btn {
		font-family: 'Sen';
		font-weight: 700;
		color: $black;
		font-size: rem(24);
		line-height: 1.333;		
		@media (min-width:$mobile){
			font-size: rem(28);	
			line-height: 1.43;
			letter-spacing: -1px;
		}
		&_disabled {
			font-size: rem(20);
			line-height: 1.333;
			color: $mainColor;	
			@media (min-width:$mobile){
				font-size: rem(24);			
		}
		}
	}
}

