// BUTTON ========================================================================
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px 30px;
	background-color: $yellow;
	font-family: 'Sen';	
	font-weight: 700;	
	font-size: rem(18);
	line-height: 1.333;
	color: $black;
	transition: background-color 0.3s ease 0s;
	@media (min-width:$mobile){
		padding: 16px 48px;
	}
	&_white {
		background-color: $white;		
	}
	&:hover {
		background-color: $hover;
	}
}
.action {
	display: flex;
	flex-direction: column;
	@media (min-width:$mobileSmall){
		flex-direction: row; 
	}
	&_center {
		@media (min-width:$mobileSmall){
			justify-content: center; 
		}
	}
}
// LOGO ========================================================================
.logo {		
	flex: 0 0 auto;		
	svg {
		width: 140px;
		height: 28.35px;
		fill: $white;
		transition: fill 0.3s ease 0s;
	}
	&:hover {
		svg {
			fill: $hover;
		}
	}
}
// MENU ========================================================================
.menu {
	flex: 1 1 auto;
	display: flex;
	@media (min-width:$mobile){
		justify-content: end;
	}	

	&__body {
		@media (max-width:$mobile){
			 position: fixed;
			 width: 100%;
			 height: 100%;
			 left: 0;
			 top: -100%; 
			 background-color: rgba(35, 37, 54, 0.9);
			 padding: 120px 30px 45px 30px;
			 text-align: center;
			 overflow: auto;
			 transition: top 0.3s ease 0s;		
			 .menu-open & {
				top: 0; 
			 }
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;				
		color: $white;		
		font-weight: 400;		
		line-height: 1.75;			
		font-size: rem(16);						
		
		&_open-menu {
			@media (max-width:$mobile){
				flex-direction: column;
				row-gap: 40px;
				font-size: rem(30);
			}
		}
	}

	&__item {			
	}

	&__link {	
		transition: color 0.3s ease 0s;
		&:hover {
			color: $hover;
		}	
	}
}
// HEADINGS ========================================================================

.title {	
	font-family: 'Sen';
	font-weight: 700;
	color: $black;

	&_link {
		display: inline-block;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $hover;
		}
	}

	&_display {
		font-size: rem(48);
		line-height: 1.333;
		letter-spacing: -2px;
		@media (min-width:$mobile){
			font-size: rem(56);
			line-height: 1.14;
		}
	}

	&_h1 {
		font-size: rem(36);
		line-height: 1.333;
		letter-spacing: -2px;
		@media (min-width:$mobile){
			font-size: rem(48);				
		}
	}
	&_h2 {
		font-size: rem(28);
		line-height: 1.43;
		letter-spacing: -1px;	
		@media (min-width:$mobile){
			font-size: rem(36);	
			line-height: 1.333;
			letter-spacing: -2px;
		}
	}
	&_h3 {
		font-size: rem(24);
		line-height: 1.333;		
		@media (min-width:$mobile){
			font-size: rem(28);	
			line-height: 1.43;
			letter-spacing: -1px;
		}
	}
	&_h4 {
		font-size: rem(20);
		line-height: 1.333;	
		@media (min-width:$mobile){
			font-size: rem(24);			
		}
	}
}
// TAG ========================================================================
.tag {
	font-weight: 600;	
	font-size: rem(14); 
	line-height: 1.25;
	letter-spacing: 3px;
	text-transform: uppercase;	
	color: $purple;	
	@media (min-width:$mobile){
		font-size: initial;
	}
	&_black {
		color: $black;
	}
	&_fw500 {
		font-weight: 500;	
	}
	&_fw900 {
		font-weight: 900;	
	}
}
// INFO ========================================================================
.info {
	font-weight: 500;
	font-size: rem(14);
	line-height: 1.43;
	color: $darkGrey;
	a {
		color:$purple;
		transition: color 0.3s ease 0s;
		&:hover {
			color:$hover;
		}
	}
	span {
		margin: 0 5px;
	}
}
// TEXT ========================================================================
.text {
	line-height: 1.75;
}
// LIST ========================================================================
.list {
	font-family: 'Sen';	
	font-weight: 700;
	font-size: rem(20);
	line-height: 1.33;
	color: rgba(22, 23, 34, 0.78);	
	@media (min-width:$mobile){
		font-size: rem(24);
	}		
	&__item {		
		list-style: disc inside;		
	}
}

// LINK ========================================================================
.link {
	line-height: 1.75;
	color: $purple;
	transition: color 0.3s ease 0s;
	&:hover {
		color: $hover;
	}
}
// Content-block ========================================================================
.content-block {
	p {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width:$mobile){
			&:not(:last-child) {
				margin-bottom: 24px;
			} 
		}
	}
	&__tag {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		@media (min-width:$mobile){
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__title {		
		&:not(:last-child) {
			margin-bottom: 12px;
		}		
		@media (min-width:$mobile){
			&:not(:last-child) {
				margin-bottom: 16px;
			} 
		}
	}

	&__info {
		&:not(:last-child) {
			margin-bottom: 16px;
		}		
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 24px;
		}		
		@media (min-width:$mobile){
			&:not(:last-child) {
				margin-bottom: 32px;
			}  
		}
	}

	&__action {
	}
}
// Items-block ========================================================================
.items-block {	
	display: flex;		
	flex-wrap: wrap;
	row-gap: 20px;
	margin: 0px -10px;
	@media (min-width:$tablet){
		row-gap: 32px;
		margin: 0px -16px;
	}
	
	&__column {
		padding: 0px 10px;
		flex: 0 1 100%;		
		@media (min-width:645px){
			flex: 0 1 50%;	
		}
		@media (min-width:$tablet){
			padding: 0px 16px;
		}
		@media (min-width:1242px){
			flex: 0 1 25%;  
		}
	}

	&__item {		
	}
}
// Item-social ========================================================================
.item-social {
	svg {
		width: 16px;
		height: 16px;
		fill: $black;
		transition: fill 0.3s ease 0s;			
	}
	&:hover {
		svg {
			fill: $hover;
		}
	}
	&_grey {
		svg {			
			fill: $mainColor;				
		}
	}
}
// Author ========================================================================
.author {
	display: flex;				
	column-gap: 16px;

	&__icon {
	}

	&__info {
	}

	&__name {
		&_purple {
			color: rgba(89, 46, 169, 0.87);
		}
	}

	&__location {
	}
	&__data {

	}
}
// Color-line ========================================================================
.color-line {
	display: flex;
	height: 23px;

	&_yellow {		
		background-color: $yellow;
	}
	&_73 {
		flex: 0 1 73%;
	}
	&_61 {
		flex: 0 1 61%;
	}
	&_47 {
		flex: 0 1 60%;
		@media (min-width:$tablet){
			flex: 0 1 47%;
		}
	}

	&_purple {		
		background-color: $purple;
	}
	&_22 {
		flex: 0 1 22%;
	}
	&_27 {
		flex: 0 1 40%;
		@media (min-width:$tablet){
			flex: 0 1 27%;
		}
	}
}
// About-block ========================================================================
.about-block {
	background-color: $lavender;		
	@media (min-width:$tablet){
		display: flex;		
		justify-content: space-between;
		column-gap: 32px;
	}

	&__column {
		flex: 0 1 515px;
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	&__tag {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}		
	}

	&__title {		
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width:$tablet){
			max-width: 500px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 16px;
			} 
		}		
	}

	&__link {
		font-family: 'Sen';
		font-weight: 700;
		font-size: rem(18);		
	}

	&__content {
	}
}
// Icon-category ========================================================================

.icon-category {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: $lightYellow;
}

// Post-item ========================================================================

.post-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: 32px;
	@media (min-width:$mobile) {
		column-gap: 2.5%;
	}
	&_mw838 {
		@media (min-width:$mobile){
			padding-right: 20px;
			max-width: 858px;
		}		
	}

	&__image {
		flex: 1 1 100%;
		padding: 0px 0px 64.047% 0px;	
		align-self: flex-start; 
		@media (min-width:$mobile){			
			flex: 0 1 38.3%;
			padding: 0px 0px 24.844% 0px;
		}
		@media (min-width:$tablet){
			 align-self: auto; 
		}		
		img {
			box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));			
		}
		&_category {		
			@media (min-width:$mobile){			
				flex: 0 1 35%;
				padding: 0px 0px 37.24% 0px;
			}
		}
		&_author	{
			@media (min-width:$mobile){			
				flex: 0 1 40.2%;
				padding: 0px 0px 31.2% 0px;
			}
		}
	}
	&__body {
		flex: 1 1 100%;
		@media (min-width:$mobile){				
			flex: 0 1 59.2%;		
		}
		&_category {			
			@media (min-width:$mobile){				
				flex: 0 1 61%;		
			}
		}
		&_author {
			@media (min-width:$mobile){				
				flex: 0 1 56.6%;		
			}
		}
	}

	&__content {
		@media (min-width:$mobile){				
			max-width: 624px;		
		}		
	}
	

	&__tag {
		font-size: rem(14);
		&:not(:last-child) {			
			margin-bottom: 12px;
		}
		@media (min-width:$tablet){
			font-size: initial;
			&:not(:last-child) {			
				margin-bottom: 20px;
			}
		}		
	}

	&__title {
		font-size: rem(24);
		line-height: 1.333;	
		&:not(:last-child) {
			margin-bottom: 10px;
		}	
		@media (min-width:$mobile){
			font-size: rem(28);
			line-height: 1.43;
			letter-spacing: -1px;				
		}
		@media (min-width:$tablet){
			font-size: rem(36);	
			line-height: 1.333;
			letter-spacing: -2px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}				
		}
	}

	&__text {
	}
}

