//====================================================================================================
.footer {
	background-color: $black;
	padding: 30px 0px;
	@media (min-width:$mobile){
		padding: 40px 0px;  
	}
	@media (min-width:$tablet){
		padding: 55px 0px;
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (min-width:$mobile){
			 flex-direction: row; 
			 align-items: center;
			 &:not(:last-child) {
				margin-bottom: 45px;
			}
		}
	}
}
.footer-top {

	&__logo {
	}

	&__menu {
	}
}

.footer-body {	
	flex-direction: column;
	row-gap: 20px;	
	padding: 40px 20px;
	background-color: rgba(255, 255, 255, 0.05);
	@media (min-width:$mobile){
		padding: 55px 64px;
	}
	@media (min-width:1170px){		 
		flex-direction: row;
		column-gap: 60px;
		padding: 80px 64px;
	}

	&__title {
		flex: 0 1 50%;
		color: $white;
		@media (max-width:1170px){
			text-align: center;
		}
	}

	&__email-form {
		flex: 0 1 50%;
	}
}
.email-form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
	@media (min-width:530px){
		width: auto;
		flex-direction: row;	
		column-gap: 24px;	
 	}

		&__input {
			flex: 1 1 auto;			
			background-color: inherit;
			border: 1px solid $darkGrey;
			padding: 14px 25px;
			color: $white;
			&::placeholder {
					line-height: 1.75;
			}
		}

		&__button {
		}
}

.footer-bottom {
	justify-content: space-between;
	align-items: center;
	@media (max-width:$mobile){
		text-align: center;
	}
	
	&__info {
		color: rgba(255, 255, 255, 0.7);
		font-style: normal;		
		line-height: 1.75;	
		a {			
			transition: color 0.3s ease 0s;
			&:hover {
				color: $hover;
			}
		}
	}

	&__social {
		display: flex;
		column-gap: 26px;
	}

	&__item {
	}
}

//====================================================================================================
