//====================================================================================================
.header {	
	position: fixed;
	width: 100%;	
	left: 0;
	top: 0; 
	background-color: $black;
	z-index: 50;

	&__container {
		min-height: 70px;
		display: flex;
		align-items: center;
		column-gap: 24px;	
		
		@media (min-width:$mobile){
			min-height: 80px;
			column-gap: 32px;	
		}
	}

	&__logo {
		flex: 0 0 30px;
		overflow:hidden;
		z-index: 5;			
		@media (min-width:$mobileSmall){			
			flex: 0 0 auto;					
		}
		svg {
			width: 140px;
			height: 28.35px;
			fill: $white;
			transition: fill 0.3s ease 0s;
		}
		&:hover {
			svg {
				fill: $hover;
			}
		}
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__button {
		flex: 0 0 auto;
		z-index: 5;
	}
}
.menu {
	display: flex;
	justify-content: end;

	&__body {
		@media (max-width:$mobile){
			 position: fixed;
			 width: 100%;
			 height: 100%;
			 left: 0;
			 top: -100%; 
			 background-color: $black;
			 padding: 120px 30px 45px 30px;
			 text-align: center;
			 overflow: auto;
			 transition: top 0.3s ease 0s;
			 .menu-open & {
				top: 0; 
			 }
		}
	}

	&__list {
		display: flex;		
		flex-direction: column;
		row-gap: 40px;
		color: $white;
		font-size: rem(30);
		font-weight: 400;		
		line-height: 1.75;

		@media (min-width:$mobile){
			flex-direction: row;
			column-gap: 24px;
			font-size: rem(16);						
		}		
	}

	&__item {			
	}

	&__link {	
		transition: color 0.3s ease 0s;
		&:hover {
			color: $hover;
		}	
	}
}


//====================================================================================================

// Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $white;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

