//====================================================================================================
// PAGE
//====================================================================================================
.page {

	&__main-block {
		
		padding: 60px 0px 100px 0px;
		@media (min-width:$mobile){
			padding: 90px 0px 160px 0px;
		}
		@media (min-width:$tablet){
			padding: 128px 0px 192px 0px;
		}
	}
	&__post, &__categories, &__join {	 
		padding: 50px 0px;
		@media (min-width:$mobile){
			padding: 70px 0px;
		}
		@media (min-width:$tablet){
			padding: 100px 0px;
		}
		@media (min-width:1440px){
			padding: 128px 0px; 
		}
	}
	&__about {
		
	}
	&__why {
		padding: 0px 0px 50px 0px; 
		@media (min-width:$mobile){
			padding: 0px 0px 70px 0px;
		}
		@media (min-width:$tablet){
			padding: 0px 0px 100px 0px;
		}
		@media (min-width:1440px){
			padding: 0px 0px 128px 0px; 
		}
	}
	&__authors {
	}
	&__featured-in {
		padding: 50px 0px;
		@media (min-width:$mobile){
			padding: 70px 0px;
		}
		@media (min-width:$tablet){
			padding: 96px 0px;
		}		
	}
	&__reviews {		
	}
}
//====================================================================================================
// MAIN-BLOCK
//====================================================================================================
.main-block {
	position: relative;
	
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;		
		img {			
			object-position: 26% 0px;			
			@media (min-width:$tablet){
				object-position: left;
			}
			@media (min-width:1310px){
				object-position: initial;
			}
		}				
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;	
		background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
		z-index: 1;
	}

	&__container {
	}

	&__content {
		position: relative;
		z-index: 2;
		max-width: 804px;
	}

	&__tag {
		color: $white;
		font-weight: 500;	
		span {
			font-weight: 700;	
		}
		&:not(:last-child) {
			margin-bottom: 24px;
		}		
	}

	&__title {
		font-size: rem(36);
		line-height: 1.333;
		letter-spacing: -2px;
		color: $white;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (min-width:$mobile){
			font-size: rem(48);
		}
		@media (min-width:$tablet){
			font-size: rem(56);
			line-height: 1.14;				
		}
	}

	&__info {
		font-weight: 400;
		font-size: inherit;
		line-height: 1.75;
		color: $white;
		a {
			color:$yellow;		
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}		
	}

	&__text {
		color: #FFFFFF;
		max-width: 600px;
		&:not(:last-child) {
			margin-bottom: 48px;
		}		
	}

	&__action {
		
	}	
}
//====================================================================================================
// POST
//====================================================================================================
.post {

	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		@media (min-width:$tablet){
			flex-direction: row;
			column-gap: 2.3%;
		}		
	}

	&__featured {
		flex: 0 1 57.3%;		
	}

	&__all {
		flex: 0 1 40.4%;
	}
}
.featured-post {	

	&__title {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__body {
		padding: 25px;
		border: 1px solid rgba(109, 110, 118, 0.1);
		background-color: $white;
		@media (min-width:$mobile){
			padding: 32px;
		}
	}

	&__image {
		padding-bottom: 52.21%;
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}
	&__content {
	}
}

.all-post {

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}		
	}

	&__title {
	}

	&__link {
	}

	&__body {
		@media (max-width:$tablet){
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__item {
		padding: 25px 25px 20px 25px;
		background-color: $white;
		transition: background-color 0.3s ease 0s;
		@media (min-width:$mobile) and (max-width:$tablet){
			  flex: 0 1 50%;
		}		
		&:hover {
			background-color: $lightYellow;
		}
		@media (min-width:$tablet){
			padding: 30px 30px 25px 30px;
		}
	}

	&__info {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__title {
		display: inline-block;		
		@media (min-width:$tablet){
			max-width: 370px;
		}		
	}
}

//====================================================================================================
// ABOUT
//====================================================================================================
.about {

	&__container {
	}

	&__color-line {
	}

	&__body {
		padding: 50px 30px;
		@media (min-width:$mobile){
			padding: 80px 65px;
		}
		@media (min-width:1200px){
			padding: 96px 80px;			  
		}		
	}
}
.color-line {
	height: 23px;
	display: flex;
	justify-content: end;

	&__yellow {
		flex: 0 1 61%;
		background-color: $yellow;
	}

	&__purple {
		flex: 0 1 22%;
		background-color: $purple;
	}
}
.about-block {
	background-color: $lavender;		
	@media (min-width:$tablet){
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		column-gap: 40px;
	}

	&__column {
		flex: 0 1 515px;
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	&__tag {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}		
	}

	&__title {		
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width:$tablet){
			max-width: 500px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 16px;
			} 
		}		
	}

	&__link {
		font-family: 'Sen';
		font-weight: 700;
		font-size: rem(18);		
	}

	&__content {
	}
}
//====================================================================================================
// CATEGORIES
//====================================================================================================
.categories {

	&__container {
	}

	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 32px;
		}	
		@media (min-width:$mobile){
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}
	}

	&__block {
	}
}

.category-item {		
	height: 100%;
	display: flex;
	flex-direction: column;	
	padding: 32px;
	border: 1px solid rgba(109, 110, 118, 0.3);
	background-color: $white;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $yellow;		
		border: 1px solid $yellow;
	}

	&__icon {		
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		background: $lightYellow;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__text {
	}
}
//====================================================================================================
// WHY
//====================================================================================================
.why {		
	
	&__container {		
		@media (min-width:$tablet){
			position: relative;
			display: flex;		
			justify-content: end;
		}
	}

	&__image {	
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
		img {
			max-width: 100%;
		}
		@media (min-width:$tablet){
			position: absolute;
			width: 74%;
			height: 100%;
			top: 0;
			left: 0;
		}			
		img {					
			@media (min-width:$tablet) and (max-width:1310px){
				object-position: right;
			}								
		}	
	}

	&__body {
		margin: 30px 0px 0px 0px;		
		background-color: $white;
		@media (min-width:$tablet){
			flex: 0 0 706px;
			margin: 121px 0px 0px 0px;
			padding: 80px;
			position: relative;
			z-index: 2;
		}
	}

	&__tag {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}		
	}

	&__content-block {
	}
}

//====================================================================================================
// AUTHORS
//====================================================================================================

.authors {

	&__container {
	}

	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 32px;
		}	
		@media (min-width:$mobile){
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		@media (min-width:$tablet){
			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}
	}	

	&__block {
	}
}

.authors-item {
	background-color: $lightGrey;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;	
	row-gap: 20px;
	height: 100%;
	transition: background-color 0.3s ease 0s;
	&:hover {
		background-color: $lightYellow;
	}

	&__icon {
		border-radius: 50%;
		overflow: hidden;
	}

	&__text {
		text-align: center;
	}

	&__title {
		transition: color 0.3s ease 0s;
		&:hover {
			color: $hover;
		}
	}

	&__position {
		font-size: rem(14);
		line-height: 1.43;		
	}

	&__social {
	}
}
.social {
	display: flex;
	column-gap: 16px;

	&__item {
	}
}

//====================================================================================================
// FEATURED-IN
//====================================================================================================
.featured-in {

	&__container {	
		
		@media (min-width:$mobile){
			display: flex;			
			align-items: center;
			column-gap: 80px;
		}
	}

	&__title {
		flex: 0 0 140px;
		color: $mainColor;
		span {
			font-weight: 400;
			font-size: rem(14);
			line-height: 1.43;
			color: rgb(109, 110, 118, 0.6);
		}
		@media (max-width:$mobile){
			 &:not(:last-child) {
				margin-bottom: 20px;
			 } 
		}
	}

	&__logo-box {		
	}
}

.logo-box {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-evenly;
	column-gap: 30px;
	row-gap: 10px;
	flex-wrap: wrap;

	&__item {		
	}
}

//====================================================================================================
// REVIEWS
//====================================================================================================

.reviews {

	&__container {
	}

	&__body {
		padding: 50px 30px;
		background-color: $lightYellow;
		@media (min-width:$mobile){
			padding: 75px 85px;
		}			
		@media (min-width:1200px){
			display: flex;	
		}
		@media (min-width:1310px){
			padding: 75px 112px;
		}				
	}

	&__heading {
		flex: 0 1 41%;
		padding: 0px 0px 30px 0px;
		@media (min-width:$mobile){
			padding: 0px 0px 50px 0px; 
		}
		@media (min-width:1200px){
			padding: 0px 50px 0px 0px;
		}		
		@media (min-width:1310px){
			padding: 0px 80px 0px 0px;
		}
	}

	&__tag {
		font-size: rem(16);
		color: $black;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__content-block {
		
	}

	&__content {
		flex: 0 1 59%;
		min-width: 0;				
		@media (min-width:1200px){
			padding: 0px 0px 0px 65px;
			border-left: 1px solid rgba(109, 110, 118, 0.4);
		}				
		@media (min-width:1310px){
			padding: 0px 0px 0px 95px;
		}
	}
	&__slider {
	}

	&__wrapper {
	}

	&__slide {
	}
}

.swiper {	
	position: relative;
}
.swiper-wrapper {
	
}
.swiper-slide {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 50px;

	&__review {			
		@media (min-width:1310px){
			max-width: 469px;	
		}
	}

	&__author {		
		display: flex;				
		column-gap: 16px;
		max-width: 300px;
	}

	&__icon {
	}

	&__info {
	}

	&__name {
	}

	&__location {
	}
}
.swiper-pagination {
	display: flex;
	width: 100px;
	column-gap: 5px;
	justify-content: center;
	margin: 30px auto 0px;
	@media (min-width:580px){
		display: none;
 }
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: #a9afb3;
	border-radius: 6px;	
}
.swiper-pagination-bullet-active {
	background-color: $black;
}
.swiper-buttons {	
	display: none;
	@media (min-width:580px){
		position: absolute;
		bottom: 0;
		right: 0;
		width: 150px;
		height: 68px;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 24px;
	}	
}
.swiper-button-prev, .swiper-button-next {
	width: 62px;
	height: 62px;	
	border-radius: 50%;
	line-height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;	
	background-color: $black;		
	transition: transform 0.5s ease 0s;
}
.swiper-button-disabled {
	line-height: 14px;	
	background-color: $white;	
	transform: scale(0.775, 0.775);
}
.swiper-button-prev {
	&::after {			
		content: url('@img/reviews/Arrow-left.svg');				
	}			
	&.swiper-button-disabled {
		&::after {
			content: url('@img/reviews/Arrow-left_small.svg');	
		}		
	}
}
.swiper-button-next {
	&::after {		
		content: url('@img/reviews/Arrow-right.svg');	
	}
	&.swiper-button-disabled {
		&::after {
			content: url('@img/reviews/Arrow-right_small.svg');	
		}
	}
}
//====================================================================================================
// JOIN
//====================================================================================================
.page {


}
.join {

	&__container {
	}

	&__content {
		max-width: 415px;
		text-align: center;
		margin: 0 auto;
	}
}




//====================================================================================================
